// ast_relations_drawer.jsx
.ast_relations_drawer_body {
	padding: 0 !important;
	display: flex;
	flex-direction: row;
}

.ast_relations_container {
	width: 400px;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}

// ast_relation.jsx
.ast_relation_container {
	width: 100%;
	border-bottom: 1px solid #aaaaaa;

	> .ast_relation_title {
		position: sticky;
		top: 0;
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		padding: 0 0 0 6px;
		height: 30px;
		line-height: 30px;
		font-size: 14px;
		font-weight: bolder;
		z-index: 3;
		background-color: #ffffff;
		cursor: pointer;

		&:hover {
			background-color: #ebebeb;
		}
	}

	> .ast_relation_cases_container {
		position: relative;
		display: flex;
		flex-direction: column;

		> .ast_relation_cases_container_title {
			position: sticky;
			top: 30px;
			padding: 0 0 0 6px;
			line-height: 30px;
			font-weight: bolder;
			font-size: 14px;
			border-top: 1px solid #d9d9d9;
			border-bottom: 1px solid rgba(5, 5, 5, 0.06);
			z-index: 2;
			background-color: #ffffff;
		}
	}
}

// ast_relation_cases.jsx
.ast_relation_cases {
	position: relative;

	> .ast_relation_cases_title {
		position: sticky;
		top: 62px;
		padding: 0 0 0 16px;
		height: 24px;
		line-height: 24px;
		font-size: 14px;
		font-weight: bolder;
		z-index: 1;
		background-color: #ffffff;
	}

	> .ast_relation_cases_content {
		width: 100%;

		> .ast_relation_case_conatiner {
			position: relative;
			width: 100%;
			border-top: 1px solid rgba(5, 5, 5, 0.06);

			> .ast_relation_case_title {
				padding: 0 0 0 16px;
				height: 24px;
				line-height: 24px;
				font-size: 14px;
			}

			> .ast_relation_case_operations {
				opacity: 0;
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 8px;
				background-color: #cbcbcb;
				border-radius: 4px;
			}
		}

		> .ast_relation_case_conatiner:hover {
			background-color: rgba(0, 0, 0, 0.04);

			> .ast_relation_case_operations {
				opacity: 1;
			}
		}
	}
}

// ast_relations_examples.jsx
.ast_relations_examples_container {
	display: flex;
	flex-direction: column;
	width: 0;
	flex: 1;
	height: 100%;

	> .ast_relations_examples_title {
		padding: 0 0 0 6px;
		line-height: 30px;
		font-weight: bolder;
		font-size: 16px;
		border-bottom: 1px solid rgba(5, 5, 5, 0.06);
	}

	> .ast_relations_examples_content {
		height: 0;
		flex: 1;
		overflow: auto;
		border-bottom: 1px solid rgba(5, 5, 5, 0.06);

		> .ast_relations_example {
			position: relative;
			> .ast_relations_example_title {
				position: sticky;
				top: 0;
				padding: 0 12px;
				line-height: 24px;
				font-size: 14px;
				font-weight: bolder;
				word-wrap: break-word;
				word-break: normal;
				overflow: hidden;
				background-color: #ffffff;
				border-bottom: 1px solid rgba(5, 5, 5, 0.06);

				&:hover {
					> .ast_relations_example_operations {
						opacity: 1;
					}
				}
				> .ast_relations_example_operations {
					opacity: 0;
					position: absolute;
					top: 0;
					right: 0;
					height: 100%;
					display: flex;
					flex-direction: row;
					align-items: center;
					gap: 8px;
					border-radius: 4px;
				}
			}
			> .ast_relations_example_code_string {
				padding: 6px 12px 6px 12px;
				width: 100%;
				white-space: pre-wrap;
				border-bottom: 1px solid rgba(5, 5, 5, 0.06);
			}
		}
	}
}
