.code_function_stack {
	width: 100%;

	> .code_function_stack_content {
		position: sticky;
		padding: 2px 0;
		display: flex;
		flex-direction: row;
		width: 100%;
		font-size: 14px;
		cursor: pointer;
		transition: background-color 0.3s;
		background-color: #181818;
		border-bottom: 1px solid #aaaaaa;
		z-index: 2;
		color: #cccccc;

		&:hover {
			background-color: #37373e;
		}

		> .code_function_stack_name {
			width: 100%;
		}
		> .code_function_stack_operations {
			position: absolute;
			top: 0;
			right: 0;

			> .code_function_stack_button {
				display: flex;
				flex-direction: column;
				justify-content: center;
				height: 24px;
				padding: 0 8px;
				font-size: 12px;
				border-radius: 4px;
				transition: background-color 0.3s;
				cursor: pointer;
				text-align: center;
				font-weight: normal;

				&:hover {
					background-color: #181818;
				}
			}
		}
	}
}

.code_function_stack_children {
	position: relative;
	width: 100%;
	z-index: 1;
}
