.ai_prompt {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;

	> .ai_prompt_header {
		padding: 10px;
		display: flex;
		flex-direction: row;
		gap: 10px;

		> .ai_prompt_header_button {
			font-size: 12px;
		}
	}

	> .ai_prompt_content {
		width: 100%;
		height: 0;
		flex: 1;
		overflow: auto;
	}
}
