.editor {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 16px;

	> .toolbar {
		display: flex;
		gap: 8px;
		margin-bottom: 16px;
		align-items: center;

		> .nameInput {
			width: 200px;
		}
	}

	> .componentList {
		flex: 1;
		overflow: auto;
		display: flex;
		flex-direction: column;
		gap: 12px;
	}
}
