// js_code_analysis.jsx
.js_code_analysis_container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;

	> .js_code_analysis_title {
		padding: 0 4px;
		width: 100%;
		height: 30px;
		line-height: 30px;
		border-bottom: 1px solid rgba(5, 5, 5, 0.06);
		font-size: 14px;
		font-weight: bolder;
	}
	// js_code_analysis_segmented
	> .js_code_analysis_segmented_container {
		width: 100%;
		overflow-x: auto;
		background-color: #f5f5f5;
	}
	> .js_code_analysis_content {
		width: 100%;
		height: 0;
		flex: 1;
		overflow-y: auto;
	}
}

.js_code_analysis_segmented_title {
	font-size: 12px;
}
