.code_files {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow: auto;

	.code_files_tree_node {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;
		height: 100%;

		> .code_files_tree_node_title {
			display: block;
			width: 0;
			flex: 1;
			line-height: 24px;
			word-wrap: break-word;
			word-break: normal;
			overflow: hidden;
		}

		> .code_files_tree_node_imported {
			width: fit-content;
			line-height: 24px;
		}

		> .code_files_tree_node_operations {
			opacity: 0;
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 8px;
			background-color: #cbcbcb;
			border-radius: 4px;
			transition: opacity 0.3s;

			> .code_files_tree_node_operation {
				display: flex;
				flex-direction: column;
				justify-content: center;
				height: 24px;
				padding: 0 8px;
				font-size: 12px;
				border-radius: 4px;
				transition: background-color 0.3s;
				&:hover {
					background-color: #a8a8a8;
				}
			}
		}

		&:hover {
			> .code_files_tree_node_operations {
				opacity: 1;
			}
		}
	}
}
