.js_code_file_struct_analysis_container {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}

// code_structs_analysis
.js_code_analysis_panel {
	width: 100%;
	display: flex;
	flex-direction: column;

	> .js_code_analysis_panel_title {
		padding: 0 0 0 4px;
		width: 100%;
		height: 30px;
		line-height: 30px;
		border-bottom: 1px solid rgba(5, 5, 5, 0.06);
		font-size: 14px;
		font-weight: bolder;
	}
	> .js_code_analysis_panel_content {
		display: flex;
		flex-direction: column;
		width: 100%;
		max-height: 100px;
		overflow-y: auto;
		border-bottom: 1px solid rgba(5, 5, 5, 0.06);

		> .analysis_panel_analysis_entry_container {
			position: relative;
			display: flex;
			flex-direction: row;
			width: 100%;

			> .analysis_panel_analysis_entry_title {
				width: 0;
				flex: 1;
				padding: 0 0 0 6px;
				font-size: 14px;
				line-height: 24px;
			}
			> .analysis_panel_analysis_operations {
				opacity: 0;
				position: absolute;
				top: 0;
				right: 0;
				height: 100%;
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 8px;
				border-radius: 4px;
				transition: opacity 0.3s;
			}

			&:hover {
				background-color: rgba(0, 0, 0, 0.04);

				> .analysis_panel_analysis_operations {
					opacity: 1;
				}
			}
		}
	}
}

.js_code_operation_record_analysis_panel {
	height: 0;
	flex: 1;
	> .js_code_operation_record_analysis_panel_content {
		height: 0;
		flex: 1;
		max-height: none;
		border-bottom: none;
	}
}
