.code_files {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	overflow: auto;

	.code_files_tree_node {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;
		height: 100%;
	}
}
