.node_operation {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 24px;
	padding: 0 8px;
	font-size: 12px;
	border-radius: 4px;
	transition: background-color 0.3s;
	cursor: pointer;
	background-color: #cbcbcb;
	text-align: center;

	&:hover {
		background-color: #a8a8a8;
	}
}
