.frameTable {
	flex: 1;
	height: 0;
	display: flex;
	flex-direction: column;
	height: 100%;
	overflow: hidden;

	> .header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 8px;
		flex-shrink: 0;

		> .title {
			font-weight: 500;
		}
	}

	> .table {
		height: 0;
		flex: 1;
		overflow: auto;
	}
}

.inputNumber {
	width: 100%;
}
